<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="text-muted text-center">
      &copy;Astronauts. Vytvořil
      <a class="link-light" href="https://github.com/samueldusek">Samuel Dušek</a>
      pomocí Node.JS, MongoDB a Bootstrap.
    </div>
  </div>
</footer>
