<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
  rel="shortcut icon"
  type="svg"
  href="/img/logo2.svg"
/>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  />
  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/flash.css" />
  <% if (path === "/astronauts/all" && astronauts.length === 0) { %> 
    <link rel="stylesheet" href="/css/allAstronautsEmpty.css" />
  <% } %>
  <% if (path === "/astronauts/add") { %> 
    <link rel="stylesheet" href="/css/addForm.css" />
  <% } %>
  <% if (path === "/users/login" || path === "/users/register") { %> 
    <link rel="stylesheet" href="/css/enterForm.css" />
  <% } %> 
  <title><%= pageTitle %></title>
</head>
