<nav>
  <span>Astronauts</span>
  <ul>
    <% if(!currentUser) { %>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <% } else { %>
    <li><a href="/astronauts/all">Your Astronauts</a></li>
    <li><a href="/astronauts/add">Add new Astronaut</a></li>
    <li><a href="/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>
