.enterForm-body {
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../img/logo2.svg");
  background-position: bottom;
  background-size: auto 50%;
  background-repeat: no-repeat;
}

.enterForm-mainBox {
  width: 90%;
  max-width: 450px;
  margin: auto;
}

.enterForm-mainBox h1 {
  text-align: center;
}

.enterForm-mainBox .logo {
  display: flex;
  justify-content: center;
}

.enterForm-mainBox .logo .title {
  text-decoration: none;
  font-size: 1.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  color: black;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.enterForm-body form label {
  font-weight: bold;
}
