<% layout('/layouts/mainTemplate') %>

<h1>Register</h1>

<form action="/register" method="POST">
  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    placeholder="Enter your username"
    name="user[username]"
    required
  /><br />
  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    placeholder="Enter your email"
    name="user[email]"
    required
  /><br />
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    placeholder="Enter your password"
    name="user[password]"
    required
  /><br />
  <label for="passwordConfirmation">Password confirmation:</label>
  <input
    type="password"
    id="passwordConfirmation"
    placeholder="Enter your password again"
    name="user[passwordConfirmation]"
    required
  /><br />
  <button type="submit">Register</button>
</form>
